span.st-emotion-cache-10trblm.e1nzilvr1{
    color: black;
    border: 5px solid rgb(81, 255, 0);
    border-radius: 35px;
    font-size: 50px;
    text-align: center;
    background-color: rgb(136, 183, 224);

}